body{
  background-color: rgba(77, 107, 95, 0.692);
  /*background: url(https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?cs=srgb&dl=white-blank-notebook-733857.jpg&fm=jpg);
  /*background-size:cover;
  background-repeat: no-repeat;*/
  
}
.container {
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px #888888;
  background:white;
  width:80%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom:100px;

}

a:link {
  text-decoration: none;
}

/* Start css code for index page */
.headerWrapper{
  font-family: Arial, Helvetica, sans-serif;
  color: #445663;
  
}

.headerText{
  margin: 5px;
  text-align: center;
}

.mainText {
  padding-top:4rem;
  color: black;
  letter-spacing: 8px;
  font-size: 60px;
  margin: 40px;
}

.midText {
  font-size: 20px;
  color: #445663;
}


.loginForms{ 
  padding-bottom:100px;
  margin-top:100px;
  display: flex;
  justify-content: space-around;
}



.loginForm {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  color: white;
  padding:10px;   
}

.signupForm {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  color: white;
  padding:10px; 
}

/* Start css code for loginForm page */

.headerWrapperSignIn {
  padding:20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #445663;

}

.mainTextsignIn {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 50px;
    
  }


.loginPageForms {
  padding:50px;
  justify-content: column; 
}

.usernameForm {
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  padding:10px;

}

.passwordForm {
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  padding:10px;
}

.submit {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: white;
  padding:10px; 
}

.account {
  margin-top:40px;
  margin-bottom:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
}

.signUp {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: white;
  padding:10px; 
  
}


/* Start css code for signupForm page */

.mainTextRegister {
  padding-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
    font-size: 30px;
}

.registerForms {
  padding:20px;
  margin:50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  
}

.registerSubmit {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: white;
  padding:10px; 
}



/* Start css code for blogform page */

.writeBlogForm {
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
}

.submitWritePost {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  color: white;
  padding:10px; 
}






/* Start css code for blog.php page */

.blogHeaderText {
  font-family: Arial, Helvetica, sans-serif;
  padding-top:3rem;
  color: black;
  font-size: 60px;
  margin: 40px;

}


#signoutBlogPage{
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: white;
  padding:10px; 
}

.writeAblogLink {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: white;
  padding:10px; 
}


#titlesBlogPostsDiv {
  
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  
}


#titlesBlogPostsDiv a:link { color: black; }
#titlesBlogPostsDiv a:visited { color: grey; }
#titlesBlogPostsDiv a:hover{ color:#445663; }

/* Start css code for post page */

.blogPostedDiv {
  padding:20px;
}

.blogContent {
  font-family: 'Times New Roman', Times, serif;
  color:rgb(80, 80, 80);
  padding-left:50px;
  padding-right:50px;
}

.postedTitle {
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 60px;
}


.commentsPostedDiv {
  margin-top:20px;
  background: #4456632a;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding:20px;
  
}

#categoryPostedDiv {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/*#categoryPostedDiv a:link { color: black; }
#categoryPostedDiv a:visited { color:grey; }
#categoryPostedDiv a:hover { color:#445663; } */


.deleteBtn {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: white;
  padding:10px; 

}

.updateBtn {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: white;
  padding:10px; 
}


.sendCommentBtn {
  box-shadow: 5px 5px #888888;
  margin-top:15px;
  border-radius: 12px;
  background: #445663dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: white;
  padding:10px; 
}


.containerPost {
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px #888888;
  background:white;
  width:80%;
  margin-right: auto;
  margin-left: auto;
  

}

.postedCommentsDiv {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.commentsPostedDiv a:link { color: #445663; }
.commentsPostedDiv a:visited { color:grey; }
.commentsPostedDiv a:hover { color:grey; }

.commentDate{
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
}